.alert-box {
  margin: 24px;
}
.alert-ques {
  padding-bottom: 16px;
  font-size: 22px;
  font-weight: 700;
}
.delete-modal-cta-btn {
  display: flex;
  justify-content: end;
  gap: 16px;
  margin: 24px;
}

.yes-btn,
.no-btn {
  all: unset;
  margin-right: 8px;
  padding: 6px 12px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
.yes-btn:hover {
  color: white;
  background-color: blueviolet;
}
.no-btn:hover {
  color: white;
  background-color: blueviolet;
}
