.post-modal {
  padding: 24px 32px;
}

.post-modal-title {
  padding-left: 0;
}

.input-container {
  margin-bottom: 32px;
}

.post-modal-cta-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}

.post-modal-submit-btn {
  all: unset;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: green;
  color: white;
}

.post-modal-cancel-btn {
  all: unset;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
  color: white;
}
